<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Car</title>
  </head>
  <body>
<h1>
    Enter details:
</h1>
<form method="post">
  Make: <input name="make"/>
  Model: <input name="model"/>
  Year: <input name="year"/>
  Location: <input name="location"/>
  Status: <input name="status"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
  </body>
</html>
