{% extends 'base.html.j2' %}

{% block content %}
<h1>Enter details:</h1>

{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}

<form method="post">
  Make: <input name="make"/>
  Model: <input name="model"/>
  Year: <input name="year"/>
  Location: <input name="location"/>
  Status: <input name="status"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
{% endblock %}
