<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  </head>

  <body>
    <!-- Navigation links -->
    <div class="navbar">
        <a href="/cars">Car root</a>
        <a href="/cars/add">Add car</a>
        <a href="/cars/update">Update car details</a>
        <a href="/cars/delete">Delete car</a>
        <a href="/employees">Employee root</a>
        <a href="/employees/add">Add employee</a>
        <a href="/employees/update">Update employee details</a>
        <a href="/employees/delete">Delete employee</a>
        <a href="/customers">Customer root</a>
        <a href="/customers/add">Add customer</a>
        <a href="/customers/update">Update customer details</a>
        <a href="/customers/delete">Delete customer</a>
        <a href="/">User</a>
    </div>

    {% block content %} {% endblock %}

  </body>
</html>
