{% extends "base.html.j2" %}
{% block content %}

<div class="container">
    <h1>Customers</h1>
    <p>Choose to Login or Register:</p>

    <a href="/customer/login" class="sub-btn">Login</a>
    <a href="/customer/register" class="sub-btn">Register</a>
</div>

{% endblock %}
