<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete Car</title>
  </head>
  <body>
<h1>
    Delete Car:
</h1>
<form method="post">
  ID: <input type="number" name="id"/>
  <br/><br/>
  <button type="submit">Delete</button>
</form>
  </body>
</html>