{% extends 'base.html.j2' %}

{% block content %}
<h1>Delete Car:</h1>

{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}

<form method="post">
  ID: <input type="number" name="id"/>
  <br/><br/>
  <button type="submit">Delete</button>
</form>
{% endblock %}
