<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Update Car</title>
  </head>
  <body>
<h1>
    Update Car:
</h1>
<form method="post">
  ID: <input type="number" name="id"/>
  New Status: <input name="newStatus"/>
  <br/><br/>
  <button type="submit">Submit</button>
</form>
  </body>
</html>