{% extends "base.html.j2" %}

{% block content %}
    <h1>Cars in the database:</h1>
    {% for car in data %}
      <h2>{{ car['make'] }}</h2>
      <p>Model: {{ car['model'] }}</p>
      <p>Year: {{ car['year'] }}</p>
      <p>Location: {{ car['location'] }}</p>
      <p>Status: {{ car['status'] }}</p>
      <form method="post" action="/cars/delete">
        <input type="hidden" name="id" value="{{ car['id'] }}">
        <button type="submit">Delete</button>
      </form>
    {% endfor %}
{% endblock %}
