{% extends "base.html.j2" %}

{% block content %}
<h2>Order a Car</h2>

<form action="/order-car" method="post">
    <label for="customer">Logged in as:</label>
    <input type="text" id="customer" name="customer_name" value="{{ selected_customer.name }}" readonly>
    <input type="hidden" name="customer_id" value="{{ selected_customer.id }}">

    <label for="car">Select Available Car:</label>
    <select name="car_id" id="car">
        {% for car in cars %}
            <option value="{{ car.id }}">{{ car.make }} {{ car.model }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Order Car">
</form>
{% endblock %}
