{% extends "base.html.j2" %}

{% block content %}
<h2>Order a Car</h2>

<form action="/order-car" method="post">
    <label for="customer">Select Customer:</label>
    <select name="customer_id" id="customer">
        {% for customer in customers %}
            <option value="{{ customer.id }}">{{ customer.name }}</option>
        {% endfor %}
    </select>
    
    <label for="car">Select Available Car:</label>
    <select name="car_id" id="car">
        {% for car in cars %}
            <option value="{{ car.id }}">{{ car.make }} {{ car.model }}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Order Car">
</form>
{% endblock %}
